.computer-canvas canvas {
  width: 350px !important;
  height: 200px !important;
}
.computer-placeholder {
  left: -128px;
  top: -95px;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 245px;
}
@media screen and (min-width: 1000px) {
  .computer-canvas canvas {
    width: 800px !important;
    height: 500px !important;
  }
}
@media screen and (min-width: 1200px) {
  .computer-canvas canvas {
    width: 1100px !important;
    height: 500px !important;
  }
}
@media screen and (min-width: 1300px) {
  .computer-canvas canvas {
    width: 1200px !important;
    height: 500px !important;
  }
}
