.contact {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}
.contact-inner {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.email {
  .title {
    .info {
    }
    .name {
    }
  }

  .form {
    .item {
      .label {
      }
      .input {
        input {
        }
      }
      .textarea {
      }
    }

    .btn {
    }
  }
}
@media screen and (min-width: 1000px) {
  .planet {
    height: 500px;
  }
}
