.contact {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  margin-top: 2rem;
}
.contact-inner {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  max-width: 1200px;
  padding: 16px;
  width: 100%;
  gap: 59px;
}

.email {
  background: #100d25;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  max-width: 500px;
  padding: 1.5rem;
  border-radius: 5px;
  .title {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    width: 100%;
    .info {
      /* font-size: 40px; */
      text-transform: uppercase;
      letter-spacing: 0.05em;
      color: var(--secondary);
      font-size: 14px;
      /* font-weight: 900; */
    }
    .name {
      font-size: 40px;
      font-weight: 900;
    }
  }

  .form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    width: 100%;
    margin-top: 3rem;
    gap: 20px;
    .item {
      display: flex;
      flex-direction: column;
      width: 100%;
      .label {
        font-weight: 500;
        color: var(--white-100);
        margin-bottom: 1rem;
      }
      .input {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;
      }
      .textarea {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;
        textarea {
          width: 100%;
          display: flex;
          background: #151030;
          padding: 1rem 12px;
          border-radius: 6px;
          font-weight: 500;
          min-height: 165px;
          outline: 0;
          max-height: 300px;
          line-height: 25px;
        }
      }
      input:focus {
        background: var(--active-input);
        color: #000;
      }
      input:focus::placeholder {
        background: var(--active-input);
        color: #000;
      }
      textarea:focus {
        background: var(--active-input);
        color: #000;
      }
      textarea:focus::placeholder {
        background: var(--active-input);
        color: #000;
      }
    }

    .btn {
      width: 100%;
      display: flex;
      justify-content: flex-start;
      align-items: center;
      margin-top: 1rem;
      button {
        width: 100px;
        height: 48px;
        background: #151030;
        border-radius: 6px;
        position: relative;
        display: flex;
        justify-content: center;
        align-items: center;
        .loading {
          display: flex;
          justify-content: center;
          align-items: center;
          transform: scale(2);
          position: absolute;
        }
      }
    }
  }
}

.modal {
  position: fixed;
  left: 0;
  right: 0;
  bottom: auto;
  top: 0;
  display: flex;
  justify-content: center;
  align-items: end;
  width: 100%;
  background: #100d254a;
  z-index: 100;
  height: 100vh;
}
.modal-inner {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 95%;
  background: #1b173d;

  border-radius: 20px 20px 0 0;
  padding: 1rem;
  position: relative;
  animation: slide-up 700ms forwards;
}
@keyframes slide-up {
  0% {
    opacity: 0;
    visibility: hidden;
    transform: translateY(10vh);
  }
  100% {
    opacity: 1;
    visibility: visible;
    transform: translateY(0vh);
  }
}

.modal-inner_head {
  width: 187px;
  height: 189px;
  position: absolute;
  top: -49px;
}
.modal-inner_body {
  padding-bottom: 14px;
  margin-top: 87px;
  p {
    font-weight: 500;
    color: var(--white-100);
    font-size: 13px;
  }
}
@media screen and (min-width: 1000px) {
  .planet {
    height: 500px;
    width: 49%;
  }
  .contact-inner {
    flex-direction: row-reverse;
    width: 100%;
    justify-content: space-between;
  }
  .email {
    width: 49%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    .title {
      .info {
      }
      .name {
      }
    }

    .form {
      .item {
        .label {
        }
        .input {
          input {
          }
        }
        .textarea {
        }
      }

      .btn {
      }
    }
  }
}
