.nav {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  position: fixed;
  z-index: 300;
}
.inner {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  padding: 20px 16px;
  max-width: 1200px;
  min-height: 71.25px;
}
.logo {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 8px;
  img {
  }
  span {
    font-size: 18px;
    font-weight: 700;
  }
}
.menu {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.menu-icon {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 30px;
  z-index: 300;
  img {
    position: absolute;
  }
}

.close {
  padding: auto;
  img {
    padding: auto;
  }
}
.nav-menu-container {
  position: fixed;
  background: #0508162e;
  height: 151px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  top: 0;
  z-index: 200;
  left: -1vh;
  height: 100%;
  right: 0;
  left: 0;
  top: 0;
  bottom: 0;
}
.fixed {
  background: var(--primary);
}
.menu-items {
  background: #05081687;
  border: 1px solid #333;
  border-radius: 0px 20px 20px 0px;
  width: 200px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 18px;
  top: 0;
  z-index: 200;
  left: -1vh;
  height: 100%;
  backdrop-filter: blur(4px);
  border-left: 0;
}
.animate-slide-menu {
  animation: animate-slide-right 800ms forwards;
}
@keyframes animate-slide-right {
  0% {
    transform: translateX(-36vh);
    opacity: 0;
    visibility: hidden;
  }
  100% {
    transform: translateX(0vh);
    opacity: 1;
    visibility: visible;
  }
}
.menu-item {
  display: flex;
  span {
    color: #aaa6c3;
    font-size: 16px;
    font-weight: 500;
    cursor: pointer;
  }
}
.open-menu {
  display: flex;
}
.close-menu {
  display: none;
}
@media screen and (min-width: 1000px) {
  .close-menu-mobile {
    opacity: 1;
    visibility: visible;
  }

  .inner {
    min-height: 131px;
  }
  .logo img {
    width: 60px;
  }
  .logo span {
    font-size: 20px;
  }
  .menu-items {
    position: unset;
    background: unset;
    border: unset;
    width: unset;
    height: unset;
    flex-direction: row;
  }
  .menu-item span {
    font-size: 18px;
    transition: all 0.2s ease-in-out;
  }
  .menu-item span:hover {
    color: #fff;
  }
}
