.nav {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  /* padding: 16px; */
}
.inner {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  padding: 32px 16px;
}
.logo {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 5px;
  img {
  }
  span {
    font-size: 18px;
    font-weight: 700;
  }
}
.menu {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.menu-icon {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}
.open {
  img {
  }
}
.close {
  padding: auto;
  img {
    padding: auto;
  }
}

.menu-items {
  position: absolute;
  bottom: -98px;
  background: var(--primary);
  border: 1px solid #333;
  border-radius: 10px;
  width: 139px;
  height: 151px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  right: 18px;
  gap: 18px;
  top: 52px;
}
.menu-item {
  display: flex;
  a {
    color: #aaa6c3;
    font-size: 16px;
    font-weight: 500;
  }
}
@media screen and (min-width: 1000px) {
  .logo img {
    width: 60px;
  }
  .logo span {
    font-size: 20px;
  }
  .menu-items {
    position: unset;
    background: unset;
    border: unset;
    width: unset;
    height: unset;
    flex-direction: row;
  }
  .menu-item a {
    font-size: 18px;
    transition: all 0.2s ease-in-out;
  }
  .menu-item a:hover {
    color: #fff;
  }
}
