.planet-placeholder {
  left: -165px;
  top: -71px;
  display: flex;
  justify-content: center;
  align-items: center;
}
@media screen and (max-width: 600px) {
  .planet-canvas canvas {
    width: 322px !important;
    height: 365px !important;
  }
}
