.hero {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}
.inner {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  padding: 16px;
}
.title {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  gap: 20px;

  .name {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    h1 {
      font-size: 50px;
      font-weight: 900;
      span {
        color: var(--purple);
      }
    }
    .info {
      display: flex;
      justify-content: center;
      align-items: center;
      p {
        font-size: 20px;
        font-weight: 500;
      }
    }
  }

  .line {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

    .circle {
      width: 20px;
      height: 20px;
      background-color: var(--purple);
      border-radius: 50%;
    }
    .height {
      background-color: var(--purple);
      height: 160px;
      width: 4px;
      background: #804dee;
      background: linear-gradient(-90deg, #804dee 0%, rgba(60, 51, 80, 0) 100%);
      background: -webkit-linear-gradient(
        -90deg,
        #804dee 0%,
        rgba(60, 51, 80, 0) 100%
      );
    }
  }
}
.canvas {
  margin-bottom: -16px;
}
.more {
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 200;

  .box {
    width: 30px;
    height: 60px;
    border: 3px solid var(--secondary);
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 47px;
    .circle {
      width: 7px;
      height: 10px;
      background-color: var(--secondary);
      border-radius: 20px;
      animation: hero-circle 1s alternate linear infinite;
    }
  }
}
@keyframes hero-circle {
  0% {
    transform: translateY(-10px);
  }
  100% {
    transform: translateY(10px);
  }
}
@media screen and (min-width: 1000px) {
  .title {
    margin-bottom: -162px;
    width: 100%;
    max-width: 1000px;
    .line {
      .height {
        height: 320px;
      }
    }
    .name {
      width: 100%;
      h1 {
        font-size: 80px;
      }
      .info {
        p {
          width: 578px;
        }
      }
    }
  }
  .canvas {
    margin-bottom: -35px;
  }
  .more {
    .box {
      width: 45px;
      height: 85px;
      .circle {
        width: 8px;
        height: 14px;
      }
    }
  }
}
